<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ballcat.blog.mapper.CategoryMapper">

    <resultMap id="baseResultMap" type="com.ballcat.blog.entity.Category">
        <id column="id" property="id"/>
        <result column="category_name" property="categoryName"/>
        <result column="is_enabled" property="enabled"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <update id="enabledBlogCategory">
        update t_category
        set is_enabled = #{enabled}
        where id = #{id}
    </update>

    <select id="getByCategoryName" resultMap="baseResultMap">
        select id
        from t_category
        where category_name = #{categoryName}
        limit 1
    </select>

    <select id="listBlogCategory" resultMap="baseResultMap">
        select id, category_name, is_enabled, create_time, update_time
        from t_category
        <where>
            <if test="categoryName != null">
                category_name like concat('%', #{categoryName}, '%')
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="allCategory" resultMap="baseResultMap">
        select id, category_name
        from t_category
        where is_enabled = 1
    </select>

</mapper>
